@model ServiceLabBD.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auto.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTime.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
