@model IEnumerable<ServiceLabBD.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Auto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Auto.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTeam.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTime.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
